.login-page{
  height: 100vh;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/a1543997-c1fd-4946-92d3-b0a3648b92c7/7fe934cf-013f-45bb-a207-1a8c924a8834/JO-en-20220808-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  /* padding: 10px; */
  position: relative;
}
.login-page .gradient{
  background-image: linear-gradient(to bottom, #100f0fee,#100f0f79, #100f0f2c,#100f0f80, #212424);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.login-page .container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
}
.login-page .container .login-nav-bar{
  position: relative;
}
.login-page .container .login-nav-bar img{
  width: 150px;
  margin-top: 10px;
  margin-left: 10px;
}
.login-page .container .login-nav-bar button{
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 10px 30px;
  background: #E50914;
  border: none;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}
.login-page .container .login-nav-bar button:active{
  background: rgb(231, 69, 69);
}
.login-page .container .midpage{
  width: 400px;
  max-width: 100%;
  margin: 100px auto;
  color: white;
}
.login-page .container .firstpagecont{
  margin: 100px auto;
  color: white;
  text-align: center;
}
.login-page .container .firstpagecont h1,.login-page .container .firstpagecont p,.login-page .container .firstpagecont h2{
  margin: 20px 0;
}
.login-page .container .firstpagecont .getstart > div input{
  padding: 15px;
  width: 70%;
}
.login-page .container .firstpagecont .getstart > div button{
  width: 20%;
  padding: 15px;
  color: white;
  background: #E50914;
  border: none;
}
@media (max-width:480px){
  .login-page .container .firstpagecont .getstart > div input{
    width: 50%;
  }
  .login-page .container .firstpagecont .getstart > div button{
    width: 30%;
  }
}
.login-page .container .midpage .login-form{
  background: rgba(0,0,0,.75);
  padding: 50px;
  width: 100%;
  max-width: 400px;
}
.login-page .container .midpage .login-form form{
  display: flex;
  flex-direction: column;
}
.login-page .container .midpage .login-form form input{
  padding: 15px 10px;
  margin-bottom: 15px;
  background: #333;
  border: none;
  color: white;

}
.login-page .container .midpage .login-form h1{
  margin-top: -20px;
  margin-bottom: 40px;
}
.login-page .container .midpage .login-form form input::placeholder{
  font-size: 1.2rem;
}
.login-page .container .midpage .login-form form input:focus{
  background: rgb(75, 75, 75);
}
.login-page .container .midpage .login-form form button{
  padding: 10px;
  color: white;
  background: #E50914;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.login-page .container .midpage .login-form form p{
  color: gray;
}
.login-page .container .midpage .login-form form p span{
  color: white;
}
.login-page .container .midpage .login-form form p span:hover{
  text-decoration: underline;
  cursor: pointer;
}